{{! Comment }}Linea con comentario
inicio {{! Comment }}Linea con comentario
inicio{{! Comment }}Linea con comentario

startend
START COMMENT
start{{! comentario
multilinea}}end
FIN COMMENT

INTERPOLATION
asd {{NAME}} asd
asd{{NAME}}asd
asd {{{NAME}}} asd
{{{NAME}}
asd {{NAME}} {{! esto es {{NAME}} un comentario}} second {{! esto es un comentario}}
no line

a{{=|| ||=}}{{=|| ||=}}
{{=|| ||=}}
||NAME|| |
||=||| |||=||
|||NAME||| |
|||=<% %>=|||{{NAME}}<%NAME%>
pepe<%NAME%> pepe <
<%=%% %%=%>
%%NAME%% %
%%={{ }}=%%
{{NAME}} {

{{#PERSON}} {{.}} {{\PERSON}}
